@font-face{
	font-family: "Prata";
	src: url("../letras/Prata-Regular.ttf");
}
@font-face{
	font-family: "Yesva";
	src: url("../letras/YesevaOne-Regular.ttf");
}
@font-face{
	font-family: "Starwars";
	src: url("../letras/STARWARS.ttf");
}
html.modooscuro{
    filter: invert(100%);
}

html.modooscuro img{
    transition: 0s;
    filter: invert(100%);
}

html.modooscuro #espacio{
    transition: 0.6s;
    filter: invert(100%);
}

html.modooscuro #espacio{
    transition: 0.6s;
    filter: invert(100%);
}

html.modooscuro iframe{
    transition: 0.6s;
    filter: invert(100%);
}

html.modooscuro #todo1{
    transition: 0.6s;
    filter: invert(100%);
}

html.modooscuro #todo1{
    transition: 0.6s;
    filter: invert(100%);
}

/* html.modooscuro img{
    filter: invert(100%);
} */

.switch-button {
    
    --color-white: #000000;
    --color-button: rgb(255, 255, 255);
    position: absolute;
    top: 1.5%;
    left: 1%;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: var(--color-white);
    width: 4rem;
    height: 2rem;
    border-radius: 2rem;
    display: inline-block;
    position: relative;
}
.switch-button .switch-button__label:before {
    transition: .4s;
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-button);
    content: "";
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px var(--color-white);
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
    
}


@media (max-width: 900px){
    .switch-button{
        left: 3%;
    }

    .switch-button .switch-button__label {
        width: 3rem;
        height: 1rem;
        border-radius: 1rem;
 
    }

    .switch-button .switch-button__label:before {
        
        width: 1rem;
        height: 1rem;
        
    }

}



